.DS_Store
Vue-Dev/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
Vue-Dev/src/components/
platforms/android/CordovaLib/build/generated/assets/
platforms/android/CordovaLib/build/generated/res/
platforms/android/CordovaLib/build/generated/source/aidl/
platforms/android/CordovaLib/build/generated/source/apt/
platforms/android/CordovaLib/build/generated/source/rs/
platforms/android/CordovaLib/build/intermediates/bundles/debug/aidl/
platforms/android/CordovaLib/build/intermediates/bundles/debug/assets/
platforms/android/CordovaLib/build/intermediates/bundles/debug/res/
platforms/android/CordovaLib/build/intermediates/check-manifest/
platforms/android/CordovaLib/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/merged.dir/
platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/stripped.dir/
platforms/android/CordovaLib/build/intermediates/incremental/processDebugResources/
platforms/android/CordovaLib/build/intermediates/intermediate-jars/debug/jni/
platforms/android/CordovaLib/build/intermediates/jniLibs/
platforms/android/CordovaLib/build/intermediates/lint/
platforms/android/CordovaLib/build/intermediates/rs/
platforms/android/CordovaLib/build/intermediates/shaders/
platforms/android/CordovaLib/build/tmp/
platforms/android/app/build/generated/assets/
platforms/android/app/build/generated/res/
platforms/android/app/build/generated/source/aidl/
platforms/android/app/build/generated/source/apt/
platforms/android/app/build/generated/source/rs/
platforms/android/app/build/intermediates/check-manifest/
platforms/android/app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
platforms/android/app/build/intermediates/incremental/mergeDebugResources/stripped.dir/
platforms/android/app/build/intermediates/incremental/processDebugResources/
platforms/android/app/build/intermediates/jniLibs/
platforms/android/app/build/intermediates/lint/
platforms/android/app/build/intermediates/prebuild/
platforms/android/app/build/intermediates/rs/
platforms/android/app/build/intermediates/shaders/
platforms/android/app/build/outputs/apk/
platforms/android/app/build/tmp/
platforms/android/app/src/main/libs/
Vue-Dev/dist/
